/* 
    Document   : back
    Created on : 09-16-2012, 09:58:34 AM
    Author     : Gloria Elizabeth
    Description:
        Purpose of the stylesheet follows.
*/

*{
    font-family: 'Calibri','Arial';
    text-align: center;
}

body{
    background: #CECEF6
}

.header{
height: 300px;
width: 973px;
text-align: right;
}

.cuerpo {
height: 800px;
background-color: #E0E6F8;
}

.contenedor {
width: 973px;
margin: auto;
box-shadow: 0 0 5px 5px #819FF7; 
}
 
.footer {
height: 50px;
width: 973px;
background-color: #8181F7;
color:white;
}

.centrar
{
position: relative;
top:50%;
left:50%;
width:400px;
margin-left:-200px;
height:200px;
margin-top:-100px;
border:3px solid #808080;
background-color: #9CACE8;
padding:5px;
}