/* 
    Document   : back
    Created on : 09-16-2012, 09:58:34 AM
    Author     : Gloria Elizabeth
    Description:
        Purpose of the stylesheet follows.
*/

*{
    font-family: 'Calibri','Arial';
    text-align: center;
}

body{
    background: #CECEF6
}

#header{
height: 300px;
width: 973px;
text-align: right;
}

#cuerpo {
height: 400px;
background-color: #E0E6F8;
}

#contenedor {
width: 973px;
margin: auto;
box-shadow: 0 0 5px 5px #819FF7; 
}
 
#footer {
height: 50px;
width: 973px;
background-color: #8181F7;
color:white;
}

#menu {
width: 973px;
background-color: #2175bc;
position: absolute;
}

#button {  
padding: 0;  
}

#button li {  
display: inline;  
}

#button li a {  
font-family: Arial;  
font-size:11px;  
text-decoration: none;  
float:left;  
padding: 10px;  
background-color: #2175bc;  
color: #fff;  
}

#button li a:hover {  
background-color: #2586d7;  
margin-top:-2px;  
padding-bottom:12px;  
}