/* 
    Document   : estilos
    Created on : 09-15-2012, 02:49:28 PM
    Author     : Gloria Elizabeth
    Description:
        Purpose of the stylesheet follows.
*/

*{
    font-family: 'Calibri','Arial';
    text-align: center;
}

body{
    background: #A9D0F5;
}

#header{
height: 359px;
width: 968px;
text-align: right;
}

ul#menu{
padding: 0;
}

ul#menu li{
display: inline;
float:left;
}

ul#menu li a{
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

ul#menu li a:hover{
    background-color: #2586d7;
    margin-top: -2px;
    padding-bottom: 12px;
}

#cuerpo {
height: 700px;
background-color: #E0F2F7;
}

#contenedor {
width: 968px;
margin: auto;
}
 
#footer {
height: 50px;
width: 968px;
background-color: #5882FA;
}