/* 
    Document   : estilos
    Created on : 09-15-2012, 02:49:28 PM
    Author     : Gloria Elizabeth
    Description:
        Purpose of the stylesheet follows.
*/

*{
    font-family: 'Calibri','Arial';
    text-align: center;
}

body{
    background: #A9D0F5;
}

#header{
height: 300px;
width: 968px;
text-align: right;
}

#cuerpo {
height: 700px;
background-color: #E0F2F7;
}

#contenedor {
width: 968px;
margin: auto;
box-shadow: 0 0 5px 5px #819FF7; 
}
 
#footer {
height: 50px;
width: 968px;
background-color: #5882FA;
color:white;
}